<h1 class="header-title">My Translate App</h1>

<div class="lang-wrap">
  <p class="lang-btn"  data-lang="en" (click)="changeLang($event.target)">EN</p>
  <p class="lang-btn"  data-lang="ru" (click)="changeLang($event.target)">RU</p>
</div>

<nav>
  <a routerLink="/home" routerLinkActive="active">{{lang?.home}}</a>
  <a routerLink="/about" routerLinkActive="active">{{lang?.about}}</a>
</nav>


<router-outlet></router-outlet>