@keyframes colorrainbow{
    from{
        color:#000000;
    }

    20%{ color:#808080; }
    40%{ color:#DCDCDC; }
    60%{ color:#DEB887; }

    80%{ color:#E9967A; }

    90%{ color:#FFE4C4; }

    to {
        color: #ffffff;
    }
}

:host {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.header-title{
    animation-name: colorrainbow;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all .5s;
    text-shadow: 0 0 3px gray;
}

.lang-wrap{
    float: right
}

.lang-btn{
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.lang-btn:hover{
    font-weight: bolder;
}

nav a {
    text-decoration: none;
    transition: all 0.5s;
    color: #4682B4;
}

nav a.active {
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #4682B4;
    color:white;
}