@keyframes showimg{
    from{
        opacity: 0
    }

    40%{
        transform: scale(1.1);
    }

    to{
        opacity: 1;
    }
}

h1 {
    text-align: left;
}

img {
    animation: showimg 2s ease ;
}